{% macro table(opts, data, pages) %}
    <div><h2>{{ opts['title'] }}</h2></div>
    <div class="row">
        <table class="table">
            <thead>
                <th></th>
                {% for header in opts['headers'] %}
                    <th id="{{ header['name'] }}" {% if header['sortable'] %} class="data_col" {% endif %}>
                        {{ header['label'] }}
                    </th>
                {% endfor %}
                <th>*</th>
            </thead>

            <tbody>
                {% for row in data %}
                    <tr>
                        <td>
                            <input type="checkbox" value="{{ row['id'] }}"/>
                        </td>
                        {% for k, v in row %}
                            <td>{{ v|raw }}</td>
                        {% endfor %}
                        <td>
                            <div>
                                <a rel="noreferrer" href="{{ path(opts['deleteRoute'], {'id': row['id']}) }}">удалить</a>
                            </div>
                            <div>
                                <a rel="noreferrer" href="{{ path(opts['updateRoute'], {'id': row['id']}) }}">обновить</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="row">
        <div style="float: right">
            <button id="deleteAll" type="button" class="btn btn-danger">Удалить</button>
        </div>
    </div>

    <div class="row">
        <ul class="pagination">
            {% for page in pages %}
                <li><a href="{{ page['url'] }}">{{ page['name'] }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <script>
        $(document).ready(function(){

            var deleteQuery = {};
            var orderQuery = {};

            if ((p = $.urlParam('col')) !== 0) {
                orderQuery['col'] = p;
            }
            if ((p = $.urlParam('order')) !== 0) {
                orderQuery['order'] = p;
            }

            $('input[type="checkbox"]').click(function(){
                if ($(this).is(':checked'))
                {
                    if (! ('ids' in deleteQuery)) {
                        deleteQuery['ids'] = {}
                    }
                    deleteQuery['ids'][$(this).val()] = true;
                } else {
                    delete deleteQuery['ids'][$(this).val()];
                }
            });

            $('#deleteAll').click(function(){
                sendDelete();
            });

            $('.data_col').click(function(){
                let col = $(this).attr('id');
                if (! ('col' in orderQuery)) {
                    orderQuery['col'] = col;
                }
                if (col !== orderQuery['col']) {
                    orderQuery['col'] = col;
                }
                if (! ('order' in orderQuery))
                {
                    orderQuery['order'] = 'ASC';
                } else {
                    orderQuery['order'] = orderQuery['order'] === 'ASC' ? 'DESC' : 'ASC';
                }
                sendOrder();
            });

            function sendOrder()
            {
                let url = '{{ opts['listUrl'] }}?' + $.param(orderQuery);
                console.log(orderQuery);
                location.href = url;
            }

            function sendDelete()
            {
                deleteQuery['ids'] = Object.keys(deleteQuery['ids']);
                console.log(deleteQuery);
                $.get("{{ opts['deleteAllRoute'] }}", deleteQuery, function(data, status){
                    console.log(data, status);
                    location.reload();
                });
            }
        })
    </script>
{% endmacro %}